<h2 class="mat-title parent-detail-title">{{patientLabel}}</h2>
<!--<h3 class="mat-subheading-2 parent-detail-title">{{parent.fiscalCode}}</h3>-->
<div class="messages-list-container" id="messageList">
  <div *ngFor="let message of messages" class="message-box">
    <!--<button mat-icon-button color="warn" class="delete-messsage-btn">
        <mat-icon>delete</mat-icon>
    </button>-->
    <p class="message-text">{{message.message}}</p><br><i>{{message.timestamp}}</i>
  </div>
</div>
<div class="send-message-section">
  <mat-chip-list class="tips">
    <mat-chip color="primary" selected (click)="sendMessage(tipsMessages[0])">Good news</mat-chip>
    <mat-chip color="primary" selected (click)="sendMessage(tipsMessages[1])">Bad news</mat-chip>
    <mat-chip color="primary" selected (click)="sendMessage(tipsMessages[2])">Cured</mat-chip>
  </mat-chip-list>
<div class="input-msg-form">
  <mat-form-field class="full-width">
    <mat-label>Message</mat-label>
    <input matInput #message maxlength="256" [(ngModel)]="newMessage">
    <mat-hint align="start"><strong>Write something to relatives</strong> </mat-hint>
    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>

  </mat-form-field>
  <button mat-icon-button color="warn" class="send-messsage-btn" (click)="sendMessage()">
    <mat-icon>send</mat-icon>
  </button>
</div>
</div>