<mat-card class="counters-container">
    <div *ngFor="let counter of counters">
        <p class="counter-title">{{counter.title}}</p>
        <h2 class="counter-value mat-title">{{counter.value | shortNumber}}</h2>
    </div>
</mat-card>
<div class="news-list-container">
<mat-card *ngFor="let article of articles" (click)="goToLink(article.url)" class="article-container">
    <mat-card-header>
      <mat-card-title>{{article.title}}</mat-card-title>
      <mat-card-subtitle>{{article.publishedAt}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="article-image" src="{{article.urlToImage}}" >
  </mat-card>
</div>

  <div class="slider-container">
    <h3 class="mat-subheading-2">Choose type of news to display: 1 = sad, 10 = happy</h3>
  <mat-slider
  class="full-width"
  [max]="10"
  [min]="1"
  [step]="1"
  [thumbLabel]="true"
  [tickInterval]="1"
  [(ngModel)]="sentimentValue"
  (change)="sentimentChanged($event)">
</mat-slider>
</div>