<h1 mat-dialog-title>Insert the dossier credentials</h1>
<div mat-dialog-content class="dialog-content">
    <mat-form-field class="dialog-input">
        <mat-label>Dossier Id</mat-label>
        <input type="number" matInput [(ngModel)]="data.id">
    </mat-form-field>
    <mat-form-field class="dialog-input">
        <mat-label>Password</mat-label>
        <input type="text" matInput [(ngModel)]="data.password">
    </mat-form-field>
    <mat-form-field class="dialog-input">
        <mat-label>Patient Name</mat-label>
        <input type="text" matInput [(ngModel)]="data.patientlabel">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Submit</button>
</div>