<mat-toolbar [color]="'primary'">
  <button *ngIf="location.isCurrentPathEqualTo('/patient') || location.path().includes('/parentdetail/')"
    mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{title}}</span>
</mat-toolbar>

<router-outlet></router-outlet>

<nav mat-tab-nav-bar [color]="'primary'" [backgroundColor]="'primary'" class="navbar">
  <a mat-tab-link *ngIf="isLoggedIn" routerLink="/news" routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    News
  </a>
  <a mat-tab-link *ngIf="isLoggedIn" routerLink="/parentslist" routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    Parents list
  </a>
  <a mat-tab-link *ngIf="isNurse" routerLink="/patient" routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    Patient
  </a>
  <a mat-tab-link *ngIf="isNurse" routerLink="/scanner" routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    Scanner
  </a>
</nav>