<mat-toolbar [color]="'primary'">
  <button *ngIf="location.isCurrentPathEqualTo('/patient') || location.path().includes('/relativedetail/')"
    mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <img src="../assets/logo.svg" style="margin: 10px; height: 44px"/>
  <span>{{title}}</span>
  <span class="spacer"></span>
  <button *ngIf="isLoggedIn == false" mat-button (click)="openLoginDialog()">Login</button>
  <button *ngIf="isLoggedIn == false" mat-button (click)="openRegisterDialog()">Register</button>
</mat-toolbar>

<router-outlet></router-outlet>

<nav mat-tab-nav-bar [color]="'primary'" [backgroundColor]="'primary'" class="navbar">
  <a mat-tab-link routerLink="/news"
    [active]="location.path() == '/news' || location.path() == ''">
    News
  </a>

  <a mat-tab-link *ngIf="isLoggedIn" routerLink="/relatives"
    [active]="location.path() == '/relatives'">
    Relatives
  </a>

  <a mat-tab-link routerLink="/covidfaq" 
  [active]="location.path() == '/covidfaq'">
  Faq
  </a>

  <a mat-tab-link *ngIf="isNurse" routerLink="/scanner"
    [active]="location.path() == '/scanner'">
    Scanner
  </a>
</nav>