<div class="faq-list-conatiner">
    <div class="faq-container">
        <h2 class="mat-title">How can I protect myself?</h2>
        <h3 class="mat-subheading-2">Visit the <a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html" target="_blank">COVID-19 Prevention and Treatment</a> page to learn about how to protect yourself from respiratory illnesses, like COVID-19.</h3>
    </div>
    <div class="faq-container">
        <h2 class="mat-title">Can I visit my relative at the hospital?</h2>
        <h3 class="mat-subheading-2">No. Currently only medical staff can access hospitals to prevent further COVID-19 infections</h3>
    </div>
    <div class="faq-container">
        <h2 class="mat-title">Is a vaccine available?</h2>
        <h3 class="mat-subheading-2">
            Currently there is no vaccine to protect against COVID-19. The best way to protect yourself from respiratory diseases like COVID-19 is to take <a href="https://www.ncdhhs.gov/divisions/public-health/coronavirus-disease-2019-covid-19-response-north-carolina/individuals-families" target="_blank">common-sense precautions.</a>
        </h3>
    </div>
</div>