:host {
    display: flex;
    flex-direction: column;
    height: calc(100% - 56px - 48px);
}


.faq-list-container {
    overflow: auto;
}


.faq-container {
    margin: 20px;
    border: 1px solid;
    border-color: lightgray;
    border-radius: 7px;
    padding: 5px;
}

