:host zxing-scanner::ng-deep video {
    border: 4px;
    border-style: solid;
    border-color: red;
    width: 80%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  
  :host zxing-scanner {
    text-align: center;
  }
  
  .scanner-title {
    margin: 10px auto;
    width: fit-content;
}