<mat-card class="container">
    <mat-grid-list cols="3" rowHeight="fit">
        <mat-grid-tile><mat-card class="number">66414</mat-card></mat-grid-tile>
        <mat-grid-tile><mat-card class="number">9136</mat-card></mat-grid-tile>
        <mat-grid-tile><mat-card class="number">10950</mat-card></mat-grid-tile>
        <mat-grid-tile class="description">Contagions</mat-grid-tile>
        <mat-grid-tile class="description">Deaths</mat-grid-tile>
        <mat-grid-tile class="description">Healings</mat-grid-tile>
    </mat-grid-list>
</mat-card>
